//main:../style.sass
.header
  height: 50px
  transition: $transition

.title p
  font-size: 14px
  padding: 14px
  padding-right: 0px
  letter-spacing: 6px
  transition: $transition

.menu
  width: 50px!important
  height: 50px!important
  transition: $transition
  .menubutton
    width: auto
    height: $mbutton
    img
      width: auto
      height: $mbutton

.hero
  height: 40vh
  transition: $transition
  margin-top: 50px
  .midtext p
    font-size: 26px
    text-align: center
    &:nth-child(2)
      font-size: 12px

.productinfo
  top: 50px
  min-height: calc(100vh - 50px)

.pi-box
  //width: 95vw!important
  //height: 90vh!important
  transition: $transition
  &.active
    animation: expand-mobile 0.5s ease forwards

@keyframes expand-mobile
  from
    height: 0vh
    width: 0vw

  to
    height: 90vh
    width: 95vw
