// main: ../index.pug
.contact#03
  .c-box
    p.
       &#169;RunnerIDonlinecoaching2020
  .c-box 
    .cb-icons
      a(href="https://www.instagram.com/runneridonlinecoaching/", class="icons" id="insta" target="_blank") 
      a(href="mailto:runneridonlinecoaching@gmail.com",class="icons" id="mail" target="_blank")
