// main: ../index.pug
.header
  .title
    p RunnerIDonlinecoaching
  .menu
    .menubutton  
      img(src="https://cdn3.iconfinder.com/data/icons/mini-icon-set-general-office/91/General_-_Office_30-512.png")
    
    .mbutton
      .mb(data-btn="01")
        p About
      .mb(data-btn="02")
        p Pricing
      .mb(data-btn="03")
        p Contact 
        
