// compileCompressed: ../style.css
// main css functions
html
  overflow-x: hidden
  font-family: arial
  margin: 0px
  body, p, a
    margin: 0px
    text-decoration: none
    color: black

body::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  background-color: #F5F5F5


body::-webkit-scrollbar
  width: 6px
  background-color: #F5F5F5


body::-webkit-scrollbar-thumb
  background-color: #a7a7a7
  border-radius: 15px

.hide
  display: none!important

//vars

$transition: all 0.2s ease
$mbutton: inherit

//@mixin

@mixin flex
  display: flex

// build css (tablet size)

.container
  @include flex
  width: 100%
  //height: 2000px
  flex-direction: column

@import ./sass/nav

@import ./sass/hero

@import ./sass/about

@import ./sass/product

.content-box
  @include flex
  flex: 1


.subtitle
  @include flex
  height: 80px
  //margin: auto 0px
  align-items: center
  justify-content: center
  border-bottom: 1px solid
  border-color: grey
  p
    font-size: 28px
    letter-spacing: 5px
    padding: 5px
    //padding-left: 30px
    user-select: none
    font-family: 'Open Sans'
    transition: all 0.2s ease

.midtext:nth-child(2)
  flex: 3
  margin: 40px 0px

.section
  width: 100%
  @include flex

.columns
  flex-direction: row

.rows
  flex-direction: column

.s-box
  flex: 1
  @include flex

.s-small
  height: 200px

.s-medium
  height: 400px

.s-large
  height: 600px


//screen size desktop
@media screen and (min-width: 960px)
  @import ./sass/widescreen

//tablet size
@media screen and (max-width: 670px)
  @import ./sass/tablet

// phone size
@media screen and (max-width: 550px)
  @import ./sass/mobile
